.bread-camps-container {
  height: 24px;
  width: 100%;
  max-width: 1140px;
  cursor: default;
}

.breadcamps-icon-files,
.breadcamps-albums {
  color: var(--orange-1);
}

.breadcamps-icon-files {
  font-size: 14px;
}

.breadcamps-albums {
  text-decoration: underline;
}

.breadcamps-icon-arrow,
.breadcamps-date {
  color: var(--gray-2);
}

.breadcamps-icon-arrow {
  font-size: 8px;
}

.breadcamps-date {
  font-size: 16px;
}