.featured-photographers-container {
  max-width: var(--max-content);
  height: auto;
  margin-bottom: 3rem;
}


.featured-photographers-container .card {
  background-color: var(--white);
}

.featured-photographers-container h2 {
  color: var(--gray-3);
}

.cards-container {
  width: 100%;
  /* scrollbar-width: none; */
}