/* Footer */
.footer {
  width: 100%;
  background-color: var(--orange-1);
  color: var(--white);
  cursor: default;
}

.footer-container {
  max-width: var(--max-content);
}

.footer-logo {
  font-size: 20px;
}

.footer-social i {
  font-size: 24px;
}

.footer-rights-text {
  font-size: 14px;
}

.footer-rights-text span {
  text-decoration: underline;
}


/* Screen smaller than 768px */
@media (width < 768px) {
  .footer {
    background-color: var(--bg-color);
  }

  .m-footer {
    font-size: 14px;
    color: var(--gray-3);
  }

  .text-1 i {
    font-size: 10px;
  }

  .text-1 p,
  .text-3 span {
    text-decoration: underline;
  }

  .text-1 span,
  .text-3 p {
    color: var(--gray-4);
    font-weight: 400;
  }
}