#root {
  box-sizing: border-box;
  width: 100%;
  min-width: var(--min-content);
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: #F8F9FA;
  font-family: 'Roboto', sans-serif;


  /* Paleta de Colores */
  --orange-1: #D63415;
  --orange-1-tr: rgba(214, 52, 21, .14);
  --orange-2: #EC3F1E;
  --orange-3: #EFAEA1;
  --orange-4: #B0321A;
  --gray-1: #8B92A2;
  --gray-2: #4A566D;
  --gray-3: #363E4E;
  --gray-4: #687285;
  --gray-5: #6C757D;
  --gray-6: #A5AEBD;
  --gray-6: #DEE2E6;
  --gray-7: #CBCED9;
  --white: #ffffff;
  --bg-1: #ffffff;
  --shadow-1: rgba(0, 0, 0, 0.14);
  --shadow-2: rgba(0, 0, 0, 0.20);
  --bg-color: #F8F9FA;

  --max-content: 1140px;
  --min-content: 360px;
  --max-root: 100vw;
  --max-body: 100%;
  --max-main: 1280px;
}