.d-selector-container {
  height: 49px;
  max-width: var(--max-content);
  color: var(--gray-3);
}

/* Right Section */
.selected-quantity {
  color: var(--gray-1);
  font-weight: bold;
}

/* Left Section */
.range-container {
  height: auto;
  position: relative;
  top: 5px;
}

/* Selector Bar */
.form-range {
  height: 8px;
  width: 216px;
  position: relative;
}

/* Sliding Mark */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  top: 2px;
  height: 11px;
  width: 11px;
  background-color: var(--white);
  border: 2px solid var(--orange-3);
  box-shadow: 0 0 0 2px var(--orange-1);
  z-index: 100;
}

/* Static Markers on the Bar */
.mark-point-content {
  width: 216px;
}

.mark-point {
  content: '';
  width: 12px;
  height: 12px;
  background-color: var(--white);
  border: 2px solid var(--gray-7);
  border-radius: 50%;
  position: relative;
  top: -17px;
  pointer-events: none;
}

/* Squares */
.square-point-content {
  width: 225px;
}


/*! MOBILE */
.m-selector-container {
  height: 49px;
  max-width: var(--max-content);
  font-size: 12px;
}

/* Right Section */
.m-selected-quantity {
  color: var(--gray-1);
  font-weight: bold;
}

/* Selector Bar */
.m-form-range {
  height: 4px;
  width: 171px;
  position: relative;
}

/* Sliding Mark */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  top: 2px;
  height: 11px;
  width: 11px;
  background-color: var(--white);
  border: 2px solid var(--orange-3);
  box-shadow: 0 0 0 2px var(--orange-1);
  z-index: 100;
}

/* Static Markers on the Bar */
.m-mark-point-content {
  width: 171px;
}

.m-mark-point {
  content: '';
  width: 12px;
  height: 12px;
  background-color: var(--white);
  border: 2px solid var(--gray-7);
  border-radius: 50%;
  position: relative;
  top: -13px;
  pointer-events: none;
}

/* Squares */
.m-square-point-content {
  width: 179px;
}